<div class="jumbotron">
    <h1>Financial Portal API</h1>
    <p class="lead">API was built using C#, SQL Server, Stored Procedure and Web API. For other projects created by Michael Carreno, view my portfolio here.</p>
    <div class="row">
        <div class="col text-center">
            <p><a href="@Url.Action("Index", "Swagger")" class="btn btn-success btn-lg ">View &raquo;</a></p>

        </div>
    </div>
</div>
